# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [32]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
Data = Path("../Starter_Code/Resources/applicants_data.csv") 
applicant_data_df = pd.read_csv(Data)


# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [33]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [41]:
applicant_data_df = applicant_data_df.drop(columns = {"NAME", "EIN"})
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [42]:
# Create a list of categorical variables 
categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "STATUS", "INCOME_AMT", "SPECIAL_CONSIDERATIONS", "ASK_AMT", "IS_SUCCESSFUL"]

# Display the categorical variables list
# YOUR CODE HERE
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS',
 'ASK_AMT',
 'IS_SUCCESSFUL']

In [44]:
# Create a OneHotEncoder instance
enc = OneHotEncoder (sparse=False)

In [46]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform([categorical_variables])

In [47]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)) 

# Review the DataFrame
# YOUR CODE HERE



# Display sample data
encoded_df.head()

C:\Users\wizzy\anaconda3\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_APPLICATION_TYPE,AFFILIATION_AFFILIATION,CLASSIFICATION_CLASSIFICATION,USE_CASE_USE_CASE,ORGANIZATION_ORGANIZATION,STATUS_STATUS,INCOME_AMT_INCOME_AMT,SPECIAL_CONSIDERATIONS_SPECIAL_CONSIDERATIONS,ASK_AMT_ASK_AMT,IS_SUCCESSFUL_IS_SUCCESSFUL
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [67]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df ])

# Review the Dataframe
# YOUR CODE HERE
encoded_df.dtypes
encoded_df = encoded_df.drop(columns = {"APPLICATION_TYPE","AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"})
encoded_df

,APPLICATION_TYPE_APPLICATION_TYPE,AFFILIATION_AFFILIATION,CLASSIFICATION_CLASSIFICATION,USE_CASE_USE_CASE,ORGANIZATION_ORGANIZATION,STATUS_STATUS,INCOME_AMT_INCOME_AMT,SPECIAL_CONSIDERATIONS_SPECIAL_CONSIDERATIONS,ASK_AMT_ASK_AMT,IS_SUCCESSFUL_IS_SUCCESSFUL,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5000.0,1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,108590.0,1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5000.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6692.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5000.0,0.0
34295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5000.0,0.0
34296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5000.0,0.0
34297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5000.0,1.0
34298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,36500179.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [69]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
# YOUR CODE HERE
y

0        NaN
0        1.0
1        1.0
2        0.0
3        1.0
        ...
34294    0.0
34295    0.0
34296    0.0
34297    1.0
34298    0.0
Name: IS_SUCCESSFUL, Length: 205795, dtype: float64

In [70]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.iloc[:, 0:19]

# Review the features DataFrame
# YOUR CODE HERE
X
X.shape

(205795, 13)

### Step 6: Split the features and target sets into training and testing datasets.

In [74]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [75]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [107]:
# Define the the number of inputs (features) to the model
number_input_features = 13

# Review the number of features
number_input_features

13

In [108]:
number_output_features = 1
number_output_features

1

## Define the number of neurons in the output layer
number_output_neurons = 2

In [109]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [110]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  3

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

3

In [111]:
# Create the Sequential model instance
nn_1 = Sequential()

In [112]:
# Add the first hidden layer

nn_1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [113]:
# Add the second hidden layer

nn_1.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [114]:
# Add the output layer to the model specifying the number of output neurons and activation function

nn_1.add(Dense(units=1, activation="linear"))

In [115]:
# Display the Sequential model summary

nn_1.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 8)                 112

 dense_8 (Dense)             (None, 3)                 27

 dense_9 (Dense)             (None, 1)                 4

=================================================================
Total params: 143
Trainable params: 143
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [118]:
# Compile the Sequential model
# YOUR CODE HERE
nn_1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["mse"])

In [119]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
deep_net_model_1 = nn_1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
4824/4824 [==============================] - 4s 754us/step - loss: nan - mse: nan
Epoch 2/50
4824/4824 [==============================] - ETA: 0s - loss: nan - mse: na - 4s 780us/step - loss: nan - mse: nan
Epoch 3/50
4824/4824 [==============================] - 4s 758us/step - loss: nan - mse: nan
Epoch 4/50
4824/4824 [==============================] - 4s 767us/step - loss: nan - mse: nan
Epoch 5/50
4824/4824 [==============================] - 4s 754us/step - loss: nan - mse: nan
Epoch 6/50
4824/4824 [==============================] - 4s 777us/step - loss: nan - mse: nan 2s - loss: na -  - ETA: 0s - loss: nan - ms
Epoch 7/50
4824/4824 [==============================] - 4s 759us/step - loss: nan - mse: nan 1s -
Epoch 8/50
4824/4824 [==============================] - 4s 770us/step - loss: nan - mse: nan
Epoch 9/50
4824/4824 [==============================] - 4s 802us/step - loss: nan - mse: nan
Epoch 10/50
4824/4824 [==============================] - 4s 785us/step - loss: nan - mse: nan
Epoch 11/50
4824/4824 [==============================] - 4s 762us/step - loss: nan - mse: nan 1s - loss: nan - ETA: 0s - los
Epoch 12/50
4824/4824 [==============================] - 4s 757us/step - loss: nan - mse: nan
Epoch 13/50
4824/4824 [==============================] - 4s 782us/step - loss: nan - mse: nan
Epoch 14/50
4824/4824 [==============================] - 4s 784us/step - loss: nan - mse: nan
Epoch 15/50
4824/4824 [==============================] - 4s 744us/step - loss: nan - mse: nan 0s - loss: nan - mse:
Epoch 16/50
4824/4824 [==============================] - 4s 743us/step - loss: nan - mse: nan 0s - loss: nan
Epoch 17/50
4824/4824 [==============================] - 4s 753us/step - loss: nan - mse: nan
Epoch 18/50
4824/4824 [==============================] - 4s 731us/step - loss: nan - mse: nan
Epoch 19/50
4824/4824 [==============================] - 4s 743us/step - loss: nan - mse: nan
Epoch 20/50
4824/4824 [==============================] - 4s 734us/step - loss: nan - mse: nan 2s -
Epoch 21/50
4824/4824 [==============================] - 4s 782us/step - loss: nan - mse: nan 0s - loss:
Epoch 22/50
4824/4824 [==============================] - 4s 794us/step - loss: nan - mse: nan
Epoch 23/50
4824/4824 [==============================] - 4s 788us/step - loss: nan - mse: nan 3s - loss: - ETA:
Epoch 24/50
4824/4824 [==============================] - 4s 768us/step - loss: nan - mse: nan 1s
Epoch 25/50
4824/4824 [==============================] - 4s 763us/step - loss: nan - mse: nan
Epoch 26/50
4824/4824 [==============================] - 4s 756us/step - loss: nan - mse: nan 0s - loss: nan - mse: na
Epoch 27/50
4824/4824 [==============================] - 4s 747us/step - loss: nan - mse: nan 0s - loss: na
Epoch 28/50
4824/4824 [==============================] - 4s 803us/step - loss: nan - mse: nan
Epoch 29/50
4824/4824 [==============================] - 4s 788us/step - loss: nan - mse: nan 1s - loss: nan - mse: na - ETA: 0s -
Epoch 30/50
4824/4824 [==============================] - 4s 770us/step - loss: nan - mse: nan
Epoch 31/50
4824/4824 [==============================] - 4s 778us/step - loss: nan - mse: nan
Epoch 32/50
4824/4824 [==============================] - 4s 789us/step - loss: nan - mse: nan- ETA: 0s - loss: nan - mse:
Epoch 33/50
4824/4824 [==============================] - 4s 774us/step - loss: nan - mse: nan 0s - loss: nan - mse
Epoch 34/50
4824/4824 [==============================] - 4s 770us/step - loss: nan - mse: nan
Epoch 35/50
4824/4824 [==============================] - 4s 785us/step - loss: nan - mse: nan 0s - loss:
Epoch 36/50
4824/4824 [==============================] - 4s 796us/step - loss: nan - mse: nan 0s - loss: nan - mse:
Epoch 37/50
4824/4824 [==============================] - 4s 775us/step - loss: nan - mse: nan
Epoch 38/50
4824/4824 [==============================] - 4s 781us/step - loss: nan - mse: nan
Epoch 39/50
4824/4824 [==============================] - 4s 786us/step - loss: nan - mse: nan
Epoch 40/50
4824/4824 [==============================] - 4s 821us/step - loss: nan - mse: nan 2s - lo
Epoch 41/50
4824/4824 [==============================] - 4s 786us/step - loss: nan - mse: nan
Epoch 42/50
4824/4824 [==============================] - 4s 824us/step - loss: nan - mse: nan
Epoch 43/50
4824/4824 [==============================] - 4s 801us/step - loss: nan - mse: nan
Epoch 44/50
4824/4824 [==============================] - 4s 797us/step - loss: nan - mse: nan
Epoch 45/50
4824/4824 [==============================] - 4s 804us/step - loss: nan - mse: nan
Epoch 46/50
4824/4824 [==============================] - 4s 796us/step - loss: nan - mse: nan 2s - loss: nan  - ETA: 1s - loss: nan  - ETA: 1s - loss: nan  - ETA: 0s - loss: nan
Epoch 47/50
4824/4824 [==============================] - 4s 799us/step - loss: nan - mse: nan
Epoch 48/50
4824/4824 [==============================] - 4s 796us/step - loss: nan - mse: nan
Epoch 49/50
4824/4824 [==============================] - 4s 835us/step - loss: nan - mse: nan
Epoch 50/50
4824/4824 [==============================] - 4s 805us/step - loss: nan - mse: nan 0s - loss: na

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [122]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1608/1608 - 1s - loss: nan - mse: nan - 850ms/epoch - 528us/step
Loss: nan, Accuracy: nan

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [124]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_1.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [125]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

13

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 3

In [126]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 10

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

10

In [127]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [ ]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


# Output layer
Output_nodes = 1


# Check the structure of the model
# YOUR CODE HERE

In [128]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [129]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
4824/4824 [==============================] - 3s 580us/step - loss: nan - accuracy: 0.0000e+00 0s - loss: nan - accura
Epoch 2/50
4824/4824 [==============================] - 3s 584us/step - loss: nan - accuracy: 0.0000e+00 1s - loss:
Epoch 3/50
4824/4824 [==============================] - 3s 586us/step - loss: nan - accuracy: 0.0000e+00
Epoch 4/50
4824/4824 [==============================] - 3s 586us/step - loss: nan - accuracy: 0.0000e+00
Epoch 5/50
4824/4824 [==============================] - 3s 598us/step - loss: nan - accuracy: 0.0000e+00
Epoch 6/50
4824/4824 [==============================] - 3s 583us/step - loss: nan - accuracy: 0.0000e+00 0s - loss: nan - accuracy: 0
Epoch 7/50
4824/4824 [==============================] - 3s 534us/step - loss: nan - accuracy: 0.0000e+00
Epoch 8/50
4824/4824 [==============================] - 3s 548us/step - loss: nan - accuracy: 0.0000e+00 2s - loss: nan  - ETA: 1s - loss: n
Epoch 9/50
4824/4824 [==============================] - 3s 558us/step - loss: nan - accuracy: 0.0000e+00
Epoch 10/50
4824/4824 [==============================] - 3s 602us/step - loss: nan - accuracy: 0.0000e+00 1s - loss: nan -  - ETA: 0s - loss: nan - a
Epoch 11/50
4824/4824 [==============================] - 3s 592us/step - loss: nan - accuracy: 0.0000e+00 1s - loss: na
Epoch 12/50
4824/4824 [==============================] - 3s 570us/step - loss: nan - accuracy: 0.0000e+00
Epoch 13/50
4824/4824 [==============================] - 3s 548us/step - loss: nan - accuracy: 0.0000e+00 1s - loss: nan -
Epoch 14/50
4824/4824 [==============================] - 3s 543us/step - loss: nan - accuracy: 0.0000e+00
Epoch 15/50
4824/4824 [==============================] - 3s 534us/step - loss: nan - accuracy: 0.0000e+00
Epoch 16/50
4824/4824 [==============================] - 3s 536us/step - loss: nan - accuracy: 0.0000e+00
Epoch 17/50
4824/4824 [==============================] - 3s 535us/step - loss: nan - accuracy: 0.0000e+00 0s - loss: nan - accuracy: 0.000 - ETA: 0s - loss: nan - accuracy: 0.0000e+
Epoch 18/50
4824/4824 [==============================] - 3s 550us/step - loss: nan - accuracy: 0.0000e+00
Epoch 19/50
4824/4824 [==============================] - 3s 534us/step - loss: nan - accuracy: 0.0000e+00 0s - loss: nan - accuracy: 0.0000e+0 - ETA: 0s - loss: nan - accuracy: 0.00
Epoch 20/50
4824/4824 [==============================] - 3s 542us/step - loss: nan - accuracy: 0.0000e+00
Epoch 21/50
4824/4824 [==============================] - 3s 542us/step - loss: nan - accuracy: 0.0000e+00 0s - loss: nan - accuracy: 0.0000
Epoch 22/50
4824/4824 [==============================] - 3s 547us/step - loss: nan - accuracy: 0.0000e+00 1s - los
Epoch 23/50
4824/4824 [==============================] - 3s 562us/step - loss: nan - accuracy: 0.0000e+00
Epoch 24/50
4824/4824 [==============================] - 3s 578us/step - loss: nan - accuracy: 0.0000e+00 1s - loss: nan - accuracy: 0.000 - ETA: 0s - loss: nan - accur
Epoch 25/50
4824/4824 [==============================] - 3s 547us/step - loss: nan - accuracy: 0.0000e+00
Epoch 26/50
4824/4824 [==============================] - 3s 546us/step - loss: nan - accuracy: 0.0000e+00
Epoch 27/50
4824/4824 [==============================] - 3s 569us/step - loss: nan - accuracy: 0.0000e+00
Epoch 28/50
4824/4824 [==============================] - 3s 542us/step - loss: nan - accuracy: 0.0000e+00
Epoch 29/50
4824/4824 [==============================] - 3s 541us/step - loss: nan - accuracy: 0.0000e+00
Epoch 30/50
4824/4824 [==============================] - 3s 559us/step - loss: nan - accuracy: 0.0000e+00
Epoch 31/50
4824/4824 [==============================] - 3s 539us/step - loss: nan - accuracy: 0.0000e+00
Epoch 32/50
4824/4824 [==============================] - 3s 540us/step - loss: nan - accuracy: 0.0000e+00 2s - loss: nan - accuracy: 0.0 - ETA: 1s - loss: nan - accura - ETA: 1s - loss: nan
Epoch 33/50
4824/4824 [==============================] - 3s 551us/step - loss: nan - accuracy: 0.0000e+00
Epoch 34/50
4824/4824 [==============================] - 3s 546us/step - loss: nan - accuracy: 0.0000e+00
Epoch 35/50
4824/4824 [==============================] - 3s 550us/step - loss: nan - accuracy: 0.0000e+00
Epoch 36/50
4824/4824 [==============================] - 3s 578us/step - loss: nan - accuracy: 0.0000e+00 2s - loss: nan - accuracy: 0.0 - ETA: 2s - loss: nan - accurac - ETA: 1s - lo - ETA: 0s - loss: nan - accuracy: 0.0000
Epoch 37/50
4824/4824 [==============================] - 3s 596us/step - loss: nan - accuracy: 0.0000e+00 1s - loss: nan - accuracy: 0.0000 - ETA: 1s -
Epoch 38/50
4824/4824 [==============================] - 3s 603us/step - loss: nan - accuracy: 0.0000e+00
Epoch 39/50
4824/4824 [==============================] - 3s 596us/step - loss: nan - accuracy: 0.0000e+00 0s - loss: nan - accura
Epoch 40/50
4824/4824 [==============================] - 3s 596us/step - loss: nan - accuracy: 0.0000e+00
Epoch 41/50
4824/4824 [==============================] - 3s 611us/step - loss: nan - accuracy: 0.0000e+00 1s
Epoch 42/50
4824/4824 [==============================] - 3s 552us/step - loss: nan - accuracy: 0.0000e+00 1s - loss
Epoch 43/50
4824/4824 [==============================] - 3s 564us/step - loss: nan - accuracy: 0.0000e+00
Epoch 44/50
4824/4824 [==============================] - 3s 589us/step - loss: nan - accuracy: 0.0000e+00
Epoch 45/50
4824/4824 [==============================] - 3s 591us/step - loss: nan - accuracy: 0.0000e+00 1s - loss: nan
Epoch 46/50
4824/4824 [==============================] - 3s 588us/step - loss: nan - accuracy: 0.0000e+00
Epoch 47/50
4824/4824 [==============================] - 3s 592us/step - loss: nan - accuracy: 0.0000e+00 0s - loss: nan - accuracy: 0.0000e
Epoch 48/50
4824/4824 [==============================] - 3s 590us/step - loss: nan - accuracy: 0.0000e+00 0s - loss: nan - accuracy
Epoch 49/50
4824/4824 [==============================] - 3s 615us/step - loss: nan - accuracy: 0.0000e+00
Epoch 50/50
4824/4824 [==============================] - 3s 591us/step - loss: nan - accuracy: 0.0000e+00

#### Alternative Model 2

In [130]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

13

In [131]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 2

In [132]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 13

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

13

In [133]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [134]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Output layer
Output_nodes = 2

# Check the structure of the model
# YOUR CODE HERE

In [135]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [136]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
4824/4824 [==============================] - 4s 742us/step - loss: nan - accuracy: 0.4664 0s - loss: nan - accurac - ETA: 0s - loss: nan - accuracy:
Epoch 2/50
4824/4824 [==============================] - 4s 738us/step - loss: nan - accuracy: 0.4664
Epoch 3/50
4824/4824 [==============================] - 4s 729us/step - loss: nan - accuracy: 0.4664
Epoch 4/50
4824/4824 [==============================] - 3s 725us/step - loss: nan - accuracy: 0.4664
Epoch 5/50
4824/4824 [==============================] - 3s 710us/step - loss: nan - accuracy: 0.4664
Epoch 6/50
4824/4824 [==============================] - 3s 716us/step - loss: nan - accuracy: 0.4664
Epoch 7/50
4824/4824 [==============================] - 3s 702us/step - loss: nan - accuracy: 0.4664
Epoch 8/50
4824/4824 [==============================] - 3s 713us/step - loss: nan - accuracy: 0.4664 0s - loss: na
Epoch 9/50
4824/4824 [==============================] - 3s 724us/step - loss: nan - accuracy: 0.4664
Epoch 10/50
4824/4824 [==============================] - 4s 768us/step - loss: nan - accuracy: 0.4664 0s - loss: nan - accuracy:
Epoch 11/50
4824/4824 [==============================] - 4s 805us/step - loss: nan - accuracy: 0.4664 1s - loss: nan - accuracy: 0.46 - ETA: 1s - loss: nan - a - ETA: 0s - loss: nan - accuracy:
Epoch 12/50
4824/4824 [==============================] - 4s 765us/step - loss: nan - accuracy: 0.4664
Epoch 13/50
4824/4824 [==============================] - 3s 721us/step - loss: nan - accuracy: 0.4664
Epoch 14/50
4824/4824 [==============================] - 3s 723us/step - loss: nan - accuracy: 0.4664 0s - loss: nan - accuracy:
Epoch 15/50
4824/4824 [==============================] - 4s 726us/step - loss: nan - accuracy: 0.4664
Epoch 16/50
4824/4824 [==============================] - 3s 715us/step - loss: nan - accuracy: 0.4664
Epoch 17/50
4824/4824 [==============================] - 3s 716us/step - loss: nan - accuracy: 0.4664
Epoch 18/50
4824/4824 [==============================] - 3s 722us/step - loss: nan - accuracy: 0.4664 3s - loss: nan - accurac - ETA: 2s - loss: nan - accur -
Epoch 19/50
4824/4824 [==============================] - 4s 729us/step - loss: nan - accuracy: 0.4664
Epoch 20/50
4824/4824 [==============================] - 4s 735us/step - loss: nan - accuracy: 0.4664
Epoch 21/50
4824/4824 [==============================] - 3s 725us/step - loss: nan - accuracy: 0.4664 ETA: 1s - loss:
Epoch 22/50
4824/4824 [==============================] - 3s 713us/step - loss: nan - accuracy: 0.4664 1s - loss: nan - accuracy: 0.468 - ETA
Epoch 23/50
4824/4824 [==============================] - 3s 714us/step - loss: nan - accuracy: 0.4664
Epoch 24/50
4824/4824 [==============================] - 3s 720us/step - loss: nan - accuracy: 0.4664
Epoch 25/50
4824/4824 [==============================] - 4s 727us/step - loss: nan - accuracy: 0.4664 0s - loss: nan - accuracy: 0.4
Epoch 26/50
4824/4824 [==============================] - 3s 725us/step - loss: nan - accuracy: 0.4664
Epoch 27/50
4824/4824 [==============================] - 4s 739us/step - loss: nan - accuracy: 0.4664
Epoch 28/50
4824/4824 [==============================] - 4s 739us/step - loss: nan - accuracy: 0.4664 0s - loss: nan - accuracy: 0.46
Epoch 29/50
4824/4824 [==============================] - 4s 735us/step - loss: nan - accuracy: 0.4664
Epoch 30/50
4824/4824 [==============================] - 3s 721us/step - loss: nan - accuracy: 0.4664 1s - l
Epoch 31/50
4824/4824 [==============================] - 3s 724us/step - loss: nan - accuracy: 0.4664
Epoch 32/50
4824/4824 [==============================] - 4s 755us/step - loss: nan - accuracy: 0.4664
Epoch 33/50
4824/4824 [==============================] - 4s 739us/step - loss: nan - accuracy: 0.4664
Epoch 34/50
4824/4824 [==============================] - 4s 751us/step - loss: nan - accuracy: 0.4664 0s - loss: nan - accuracy: 0.4 - ETA: 0s - loss: nan - accuracy: 0.46
Epoch 35/50
4824/4824 [==============================] - 4s 736us/step - loss: nan - accuracy: 0.4664 2s - loss: nan - ET
Epoch 36/50
4824/4824 [==============================] - 4s 739us/step - loss: nan - accuracy: 0.4664 3s - loss: nan - accuracy - ETA - ETA: 0s - loss: nan -
Epoch 37/50
4824/4824 [==============================] - 4s 741us/step - loss: nan - accuracy: 0.4664 0s - loss: nan - accuracy: 0.4 - ETA: 0s - loss: nan - acc
Epoch 38/50
4824/4824 [==============================] - 4s 752us/step - loss: nan - accuracy: 0.4664
Epoch 39/50
4824/4824 [==============================] - 4s 735us/step - loss: nan - accuracy: 0.4664 0s - loss: nan - accurac
Epoch 40/50
4824/4824 [==============================] - 4s 739us/step - loss: nan - accuracy: 0.4664 0s - loss: nan - a - ETA: 0s - loss: nan - accuracy: 0.4
Epoch 41/50
4824/4824 [==============================] - 4s 749us/step - loss: nan - accuracy: 0.4664
Epoch 42/50
4824/4824 [==============================] - 4s 751us/step - loss: nan - accuracy: 0.4664 0s - loss: nan - a
Epoch 43/50
4824/4824 [==============================] - 4s 758us/step - loss: nan - accuracy: 0.4664 1s
Epoch 44/50
4824/4824 [==============================] - 4s 752us/step - loss: nan - accuracy: 0.4664 3s  - ETA
Epoch 45/50
4824/4824 [==============================] - 4s 772us/step - loss: nan - accuracy: 0.4664
Epoch 46/50
4824/4824 [==============================] - 4s 753us/step - loss: nan - accuracy: 0.4664
Epoch 47/50
4824/4824 [==============================] - 4s 766us/step - loss: nan - accuracy: 0.4664
Epoch 48/50
4824/4824 [==============================] - 4s 728us/step - loss: nan - accuracy: 0.4664
Epoch 49/50
4824/4824 [==============================] - 4s 728us/step - loss: nan - accuracy: 0.4664
Epoch 50/50
4824/4824 [==============================] - 4s 742us/step - loss: nan - accuracy: 0.4664

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [138]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_1.evaluate(X_test_scaled, y_test, verbose=2) 

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
1608/1608 - 1s - loss: nan - mse: nan - 787ms/epoch - 490us/step
Loss: nan, Accuracy: nan

In [140]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2) 

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
1608/1608 - 1s - loss: nan - accuracy: 0.0000e+00 - 857ms/epoch - 533us/step
Loss: nan, Accuracy: 0.0

In [139]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2) 

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
1608/1608 - 1s - loss: nan - accuracy: 0.4712 - 832ms/epoch - 517us/step
Loss: nan, Accuracy: 0.4711850583553314

### Step 3: Save each of your alternative models as an HDF5 file.

In [141]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoupV1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [142]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoupV2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)